# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.venv/
.env/

# Environment variables
.env

# VSCode and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp
