pydantic~=2.11.7
supabase~=2.18.1
loguru~=0.7.3
fastapi~=0.116.1
python-jose~=3.5.0
httpx~=0.28.1
pydantic-settings~=2.10.1
rank-bm25~=0.2.2
fastembed~=0.7.1
numpy~=2.3.2
PyMuPDF~=1.26.3
langchain~=0.3.27
python-dotenv~=1.1.1
fastapi
uvicorn[standard]

